<% @comics.in_groups_of(4, false).each_with_index do |group, index| %>
	<div class="row">
		<% group.each do |comic| %>
			<div class='col-lg-3 test'>
				<%= link_to image_tag(comic.image, style: "max-width: 240px"), "/comics/#{comic.id}", class: "image-responsive" %>
			</div>
		<% end %>
	</div>
	<br>
<% end %>
