<div class='row'>
	<div class='col-md-5'>
		<%= image_tag @comic.image, class: "img-responsive" %>
	</div>
	<div class='col-md-7'>
		<h1><%= @comic.title %></h1>
		<h4><%= @comic.description %></h4>
		<%= link_to "Delete this comic", "/comics/delete/#{@comic.id}", class: 'btn btn-warning', confirm: "Are you sure you want to delete #{@comic.title}?" %>
	</div>
</div>
